@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'whiterabbit';
    src: url('./fonts/whitrabt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}